body {
  color: #999;
}

.new-game-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.info {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.field {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  cursor: url('../pic/1413.png'), default;
}

.cells {
  background-color: antiquewhite;
  outline: 2px solid #000;
  width: 80px;
  height: 80px;
}

.goblin {
  display: block;
  width: 70px;
  height: 70px;
  margin-left: auto;
    margin-right: auto;
}